.mainDiv{
   display: flex;
   font-family: 'Inter', sans-serif;
   font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.mainDiv > div{
    border: 2px solid black;
    height: 700px;
    /* width: 60%; */
}

.div1{
    width: 18%;
    margin-right: 2%;
    margin-top: 1.5rem;
  }

.div2{
  width: 85%;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
}

.topSection{
    /* border: 2px solid red; */
display: flex;
margin-bottom: 1rem !important;
flex-direction: row !important;
flex-wrap: wrap !important;
justify-content: space-between;
}

.head1{
    font-size: 2.5rem;
    /* font-weight: 500; */
    line-height: 1.2;
    color: black;
    margin-bottom: 2rem;
}

.btn{
    color: #fff;
    background-color: #3b8fc2;
    border-color: #3b8fc2;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.section2{
    box-sizing: border-box;
}

.sectionDiv2{
    padding: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    margin-top: 0.5rem !important;
    width: 100% !important;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    border-color: #dceefa !important;
    background-color: #f9fafb !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.topSection2{
    display: flex;
    justify-content: space-between !important;
    box-sizing: border-box;
    /* border: 2px solid black; */
    margin-bottom: 1rem;
}

.span2{
    color: #687481 !important;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.text2{
    color: #375d75 !important;
    font-size: 1.5rem;
    /* margin-bottom: 0.5rem; */
    font-weight: 500;
    line-height: 1.2;
}

.btn2{
    cursor: pointer;
    color: #212529;
    background-color: #f9fafb;
    border-color: #f9fafb;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}


.table th{
    width: 18%;
    /* border: 2px solid black; */
    text-align: left;
}

.tophead1{
    display: block;
}
