.topDiv{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.heading45{
    border: 2px solid black;
    margin-bottom: 10px;
    font-family: Avenirnextltpro,sans-serif;
    color: #212529;
    font-size: 72px;
    font-weight: 200;
    text-align: center;
    outline: none;
    margin-top: 0;
    line-height: 1.2;
    margin: 0.67em 0;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.heading47{
    margin-bottom: 20px;
    font-family: 'Avenir Next',sans-serif;
    color: #375d75;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    outline: none;
    margin-top: 0;
    line-height: 1.2;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.textBlock{
    margin-top: 20px;
    margin-bottom: 60px;
    padding-right: 50px;
    padding-left: 50px;
    color: #375d75;
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: normal;
}

.btn{
    position: static;
    bottom: auto;
    margin-bottom: 70px;
    margin-left: 0;
    padding: 15px 30px;
    clear: none;
    align-self: auto;
    border-style: solid;
    border-radius: 5px;
    background-color: #3b8fc2;
    text-align: center;
    left: auto;
    top: auto;
    right: auto;
    margin-top: 15px;
    margin-right: 0;
    float: none;
    border-color: #2cb1f0;
    transform: translate(0,0);
    color: #fff;
    font-weight: 500;
    border: 1px solid #666;
    transition: background-color .2s,border .2s,color .2s;
    font-size: 1rem;
    line-height: 1.25;
    text-decoration: none;
}

.btn:hover{
    background: #0b71a8;

}

.text{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: .5px;
}

.cont2{
    display: flex;
    width: 65%;
    -webkit-box-pack: center;
    justify-content: center;
    /* border: 2px solid blue; */
    margin: auto;
    align-self: auto;
    box-sizing: border-box;
}

.cont2Div{
    padding-top: 56.17021276595745%;
    width: 89.8%;
    box-shadow: 4px 4px 20px 13px rgb(0 0 0 / 8%);
    position: relative;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-image: url(https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg);
    background-size: cover;
    background-position: 50% 50%;
    box-sizing: border-box;
}

.video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

